/* line 48, ../scss/components/_inline-lists.scss */
.links.inline{
  margin: 0 auto 1.0625rem auto;
  margin-left: -1.375rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
/* line 37, ../scss/components/_inline-lists.scss */
.links.inline > li {
  list-style: none;
  float: left;
  margin-left: 1.375rem;
  display: block;
}
/* line 42, ../scss/components/_inline-lists.scss */
.links.inline > li > * {
  display: block;
}

/* node submitted information */
.posted{
  color: #666666;
  font-size: 0.923rem;
}
